<!DOCTYPE html>
{% extends 'insurance/adminbase.html' %}
{% load widget_tweaks %}
{% block content %}
{% load static %}
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
  a:link {
        text-decoration: none;
      }
      .adm-dash{
      background-image: url('{% static "image/retirement.jpg" %}');
          background-size: cover;
          background-repeat: no-repeat;
    }
  </style>
</head>
<body class="adm-dash">
  <h2 style="text-align:center; color:blue;">ADD CATEGORY</h2>
<form method="POST" autocomplete="off" style="margin:100px;margin-top: 0px;">
    {%csrf_token%}
    <div class="form-group">
      <label for="course_name">Category Name</label>
      {% render_field categoryForm.category_name class="form-control" placeholder="Life Insurance" %}

    </div>
    
<br>
    <button type="submit" class="btn btn-primary">ADD</button>
  </form>
{% endblock content %}
</body>
</html>